/*-------------------------------------------------------------------
nav menu active class
-------------------------------------------------------------------*/

.nav_menu ul li{
    position: relative;
}
.nav_menu ul li.active{
    border: none;
}
.nav_menu ul li.active:before{
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 2px;
    background: #ff0000;
}
.nav_menu ul li.noactive.active:before{
    background: transparent;
}
.bookies_img{
    height: auto;
}

/*-------------------------------------------------------------------
main menu active class
-------------------------------------------------------------------*/

li.main_menu_item.active {
    border: none;
    padding: 0 40px 0 0;
}
li.main_menu_item.active:last-child{
    padding: 0;
}
li.main_menu_item.active a:after {
    content: "";
    position: absolute;
    font-size: 0;
    top: 25px;
    margin: 0 auto;
    border-bottom: 2px solid #fd1022;
    width: 56px;
    left: -35%;
    right: -35%;
}
.main_menu_item {
    padding: 0 40px 0 0;
}

/*-------------------------------------------------------------------
contact form info block
help/contacts
-------------------------------------------------------------------*/

.contact_info{
    height: auto;
}
.contact_info__help{
    margin-bottom: 40px;
}
.contact_form_info{
    align-items: stretch;  
}
.subs_form_name,
.subs_form_email,
.subs_form_button,
.subs_form_password{
    width: 100%;
    margin: 0;
}
.subs_form_name_row{
    margin: 15px 0 25px 0;
    text-align: center;
}
.subs_form_name_line{
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    width: 160px;
}
.subs_form_submit_row{
    width: 160px;   
    margin: 0 auto;
}
.subs_form_button{
    margin: 0;
}
.home_user_table td img {
    width: 44px;
}
.home_user_left .home_user_table_two input {
    width: 75px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    text-align: center;
    margin-top: 3px;
    margin-right: 2px;
    font-family: 'proxima-semi-bold';
    border: none;
}
.subs_form_name_line .hidden-xs-up{
    color: #ff0000;
}
.page-item{
    float: left;
}
.page-item.active{
    border: none;
    padding: 0;
}
.page-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    width: 20px;
    border-radius: 2px;
    border: solid 1px #d1d1d1;
    border-left: none;
    text-decoration: none;
    font-size: 12px;
}
.page-item.active .page-link{
    background-color: #ff0000;
    color: white;
}
.js-surebet td:first-child,
.js-surebet td:last-child{
    width: 10%;
}
.js-surebet td:nth-child(2){
    width: 50%;
}
.mobile_menu .menu{
    cursor: pointer;
}
.mobile_menu .active{
    padding: 0;
    border: none;
}
.reset-password-submit-row{
    margin: 20px 0 0 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
}
.form_changes_pass input[type="submit"]{
    cursor: pointer;
}
input.upgrade-acc-btn,
.upgrade-acc-btn{
    width: 140px;
    height: 40px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: white;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    margin: 20px auto;
    padding: 7px 0 0 0;
    display: table;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.unsubscribed-block{
    padding: 60px 0 20px;
}
.unsubscribed-block b{
    font-family: 'proxima-bold';
}

.bookies_checkbox_submit_btn{
    width: 140px;
    height: 40px;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    margin: 20px auto;
    text-align: center;
    display: table;
    cursor: pointer;
}





@media (min-width: 1024px){

    .settings_checkbox{
        margin: 60px 150px 0 150px!important;
    }
    .bookies_checkbox_submit{
        margin: 0 0 60px 210px;
    }

}

@media (max-width: 1023px){
    
    .bookies_checkbox_submit{
        margin: 0 0 60px 45px;
    }
    
}


@media (max-width: 768px) {

    .main_menu_item,
    li.main_menu_item.active:last-child{
        padding: 0 10px 10px 10px;
    }
    .js-surebet td:first-child,
    .js-surebet td:last-child,
    .js-surebet td:nth-child(2){
        width: auto;
    }
    .mobile_menu nav ul li a.mobile_upgrade,
    .mobile_menu nav ul li a.moble_logout{
        border: 1px solid #ff0000;
    }
    .mobile_login span.mobile_login_isauth{
        left: 10px;
    }
    
}

@media (max-width: 640px){
    
    .subs_form_name_row{
        margin: 0 15px;
    }
    .subs_form_name_line{
        margin: 15px 0 0 0;
        width: 100%;
    }
    .subs_form_submit_row{
        margin: 25px auto 0 auto;
    }

}

@media (max-width: 576px){

    li.main_menu_item.active{
        padding: 0;
    }
    .main_menu_item{
        padding: 0;
        margin: 0 0 20px 0;
    }
    li.main_menu_item.active:last-child,
    .main_menu_item:last-child{
        margin: 0;
    }

}