body {
  background-color: #333;
  color: #f5f5f5; }

.wrapper {
  min-height: calc(100vh - 135px); }

.navbar {
  background-color: #222;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.navbar-brand {
  line-height: 1; }
  .navbar-brand img {
    margin-top: -6px; }

.card {
  color: #373a3c; }
  .card > .list-group:first-child > .list-group-item:first-child {
    border-top: 0; }
  .card.bets .card-block {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; }

.nav-tabs .nav-link {
  color: #fff; }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: rgba(255, 255, 255, 0.12); }

@media (max-width: 991px) {
  .nav-tabs {
    background: #fff;
    border-radius: .25rem;
    margin-bottom: 2rem; }
    .nav-tabs > .nav-item {
      float: none;
      margin: 0 !important;
      width: 100%; }
      .nav-tabs > .nav-item > .nav-link {
        color: #333; }
        .nav-tabs > .nav-item > .nav-link, .nav-tabs > .nav-item > .nav-link.active {
          border: 0;
          border-radius: 0; }
        .nav-tabs > .nav-item > .nav-link:focus, .nav-tabs > .nav-item > .nav-link:hover {
          background-color: #f5f5f5; }
        .nav-tabs > .nav-item > .nav-link.active {
          background-color: #0275d8;
          color: #fff; }
      .nav-tabs > .nav-item:first-child .nav-link {
        border-top-left-radius: .25rem !important;
        border-top-right-radius: .25rem !important; }
      .nav-tabs > .nav-item:last-child .nav-link {
        border-bottom-left-radius: .25rem !important;
        border-bottom-right-radius: .25rem !important; }
      .nav-tabs > .nav-item + .nav-item {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        margin: 0; }
    .nav-tabs + .card {
      border-radius: .25rem !important; } }

.section {
  padding: 3rem 0;
  position: relative; }
  .section + .section {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .section .container {
    position: relative;
    z-index: 4; }

.section-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.section-faded {
  color: #ffffff; }
  .section-faded:before {
    background-color: rgba(34, 34, 34, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.section-dark {
  background-color: #222; }

.bookmakers-logos img {
  display: inline-block;
  margin: 1rem .5rem;
  max-width: 200px;
  vertical-align: center; }

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #f5f5f5;
  padding: 1rem 0 0 0; }
  .footer a {
    color: rgba(255, 255, 255, 0.5); }
    .footer a:hover, .footer a:focus {
      color: rgba(255, 255, 255, 0.75); }
    .footer a.active, .footer a:active {
      color: #fff; }
  .footer .list-social > .list-inline-item > a {
    -webkit-transition: all .3s;
    transition: all .3s; }
  .footer .list-social > .list-inline-item.list-item-facebook a:hover {
    color: #3b5998; }
  .footer .list-social > .list-inline-item.list-item-twitter a:hover {
    color: #1da1f2; }
  .footer .list-social > .list-inline-item.list-item-youtube a:hover {
    color: #cd201f; }

.footer-disclaimer {
  background-color: #222;
  color: rgba(255, 255, 255, 0.3);
  font-size: 10px;
  margin-top: 1rem;
  padding: 1rem 0; }

.section-odds {
  margin-bottom: 50px; }
  .section-odds .table-responsive .table-inner {
    overflow: auto;
    overflow-y: hidden;
    max-height: 600px;
    position: relative; }
    .section-odds .table-responsive .table-inner:after {
      background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, #333333 95%, #333333 100%);
      background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, #333333 95%, #333333 100%);
      bottom: 0;
      content: "";
      display: block;
      height: 60%;
      left: 0;
      position: absolute;
      right: 0; }

.table-odds table {
  border: 0;
  width: 100%; }
  .table-odds table td {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-collapse: collapse;
    padding: 5px;
    font-size: 14px;
    color: #333; }
  .table-odds table .headSport td {
    text-align: center;
    color: #fff;
    /*background-color:#00407D;*/
    background-color: #000;
    border-color: #000;
    font-size: 16px;
    padding: 3px; }
  .table-odds table tr.body {
    border-bottom: 2px solid #000;
    cursor: pointer; }
  .table-odds table tr.body .odd {
    display: block;
    font-size: 16px;
    vertical-align: middle;
    width: 100%; }
    @media (min-width: 768px) {
      .table-odds table tr.body .odd {
        display: inline-block;
        margin: 0 5px;
        width: auto; } }
  .table-odds table tr.body td:nth-child(3) br {
    display: none; }
  .table-odds table tr.body td:nth-child(4) br {
    display: none; }
  .table-odds table tr.body td:nth-child(5) br {
    display: none; }
  .table-odds table tr.body td {
    height: 100%;
    vertical-align: middle; }
  .table-odds table tr.body a {
    display: block;
    min-width: 30px;
    vertical-align: middle;
    width: 100%; }
    @media (min-width: 768px) {
      .table-odds table tr.body a {
        display: inline-block;
        width: auto; } }
    .table-odds table tr.body a.btn {
      width: auto; }
  .table-odds table tr.body a img {
    display: block;
    margin: 5px auto 0; }
  .table-odds table tr td:first-child {
    border-left: 2px solid #000; }
  .table-odds table tr td:last-child {
    border-right: 2px solid #000; }
  .table-odds table tr.headBet td {
    background-color: #555;
    color: #fff;
    font-size: 14px;
    text-align: center; }
  .table-odds table tr.body td {
    text-align: center;
    font-size: 14px; }
    .table-odds table tr.body td.profit {
      font-size: 18px;
      font-weight: bold; }
    .table-odds table tr.body td.name {
      font-size: 16px;
      white-space: nowrap;
      width: 25%; }
  .table-odds table tr.body td:nth-child(2) {
    text-align: left; }
  .table-odds table h2 {
    font-size: 22px; }
  .table-odds table tr.body td img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-height: 28px;
    max-width: 64px; }
  .table-odds table tr.body {
    background-color: #fff; }
  .table-odds table tr.body {
    background-color: #f5f5f5; }
  .table-odds table tr.body:hover,
  .table-odds table tr.selected {
    background-color: #e0e0e0; }
  .table-odds table tr.body:hover td span,
  .table-odds table tr.selected td span {
    color: #000 !important; }
  .table-odds table tr.body:hover td,
  .table-odds table tr.selected td {
    color: #000 !important; }
  .table-odds table .headSport img {
    width: 20px;
    height: auto;
    display: inline-block;
    margin-right: 6px;
    margin-top: -3px; }
  .table-odds table .paging {
    text-align: center;
    margin-top: 10px; }
  .table-odds table .paging a,
  .table-odds table .paging span {
    font-size: 16px; }
  .table-odds table .paging a {
    color: #000;
    font-weight: bold; }
  .table-odds table tr td:first-child {
    border-left: 0; }
  .table-odds table tr td:last-child {
    border-right: 0; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .sticky:before, .sticky:after {
    content: '';
    display: table; }

.match-info p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 18px 0; }
  to {
    background-position: 0 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 18px 0; }
  to {
    background-position: 0 0; } }

.pr,
.pr-bar {
  border-radius: 2px;
  height: 18px; }

.pr {
  background-color: #fff;
  max-width: 240px;
  margin: 1rem auto; }
  .pr .pr-bar {
    border-radius: 2px;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
            animation: progress-bar-stripes 1s linear infinite;
    background-size: 18px 18px;
    background-image: -webkit-linear-gradient(45deg, #f0ad4e 25%, transparent 25%, transparent 50%, #f0ad4e 50%, #f0ad4e 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, #f0ad4e 25%, transparent 25%, transparent 50%, #f0ad4e 50%, #f0ad4e 75%, transparent 75%, transparent); }

.badgeset {
  color: #D9534F;
  font-size: 3em; }
  .badgeset span {
    color: #fff;
    font-size: 0.5em;
    line-height: 1;
    margin: 19px 0; }

.subscribe-group {
  margin: 1rem 0 2rem; }
  .subscribe-group .btn-danger {
    font-size: 10px;
    line-height: 1; }
  .subscribe-group .btn-secondary {
    background-color: transparent !important;
    border-color: transparent !important;
    position: relative;
    z-index: 5 !important; }
    .subscribe-group .btn-secondary > span {
      margin: -40px; }

.en-list {
  font-size: 20px;
  margin-top: 1.5rem; }
  .en-list li + li {
    margin-top: 4px; }

.card-block-main {
  margin: 0 -16px;
  padding: 16px 0 0 !important; }
  @media (min-width: 992px) {
    .card-block-main {
      margin: 0;
      padding: 0 1.25rem !important; } }

@media (min-width: 1200px) {
  .card-block-main {
    border-left: 1px solid rgba(0, 0, 0, 0.54);
    min-height: 311px; } }

.card-block-sec {
  border-bottom: 1px solid rgba(0, 0, 0, 0.54); }

.form-control {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-color: #ccc;
  background-color: rgba(0, 0, 0, 0.02); }

.btn-group .btn-success {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: -3px; }

.field-contactform-verifycode img {
  max-height: 36px; }

.modal {
  color: #333;
}
.auth-client {
  margin: 0px;
}
.auth-client .auth-link .auth-title {
  display: none;
}
.message {
  margin: 10px ~"calc( 50% - 585px + 15px)" 0; // half percent - half container - ( - padding )
  border: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.message-fix {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  margin-top: 47px;
}
.message-fix:empty {
  display: none;
}
.message-fix .message {
  margin: 10px calc( 50% - 585px + 30px) 0;
  border: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1198px) {
  .message-fix .message {
    margin: 10px calc( 50% - 486px + 15px) 0;
  }
}
@media (max-width: 991px) {
  .message-fix .message {
    margin: 10px calc( 50% - 375px + 15px) 0;
  }
}
@media (max-width: 767px) {
  .message-fix {
    margin-top: 80px;
  }
  .message-fix .message {
    margin: 10px 15px 0;
  }
}
@media (max-width: 480px) {
  .message-fix .message {
    margin: 10px 10px 0;
  }
}
.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */
