html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {margin: 0; padding: 0;}

:focus {
  outline: 0;
}


input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

.clearfix{
  clear: both;
  display: table;
}

body{
  font-family: 'proxima-regular';
}

/*fonts*/

@font-face {
    font-family: 'proxima-regular';
    src: url('fonts/ProximaNovaRegular.otf');
}

@font-face {
    font-family: 'proxima-semi-bold';
    src: url('fonts/ProximaNovaSemibold.otf');
}

@font-face {
    font-family: 'proxima-bold';
    src: url('fonts/ProximaNovaExtrabold.otf');
}

/*Header_help*/

.container{
  padding: 0 !important;
  margin-top: 20px;
}

.header_container{
  background-image: url(../img/pictures/baseball.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.header_bg{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header_logo{
  float: left;
  padding-bottom: 12px;
  padding-left: 0 !important;
}

.header_nav{
  width: 100%;
  margin: 18px 102px;
  border-bottom: 1px solid #fff;
}

.nav_menu{
  float: right;
  margin-top: 15px;
  padding-right: 0 !important;
}

.nav_menu_list{
  float: right;
}

.nav_menu_list_item a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: 'proxima-regular';
}

.nav_menu_list_item a:hover{
  border-bottom: 2px solid #ff0000;
  padding-bottom: 15px;
  cursor: pointer;
}

.active{
  border-bottom: 2px solid #ff0000;
  padding-bottom: 15px;
}

.menu-open{
  position: fixed;
}

.nav_menu ul li {
  list-style-type: none;
  float: left;
  margin-right: 29px;
  padding-bottom: 15px;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.nav_menu ul li:last-child{
  margin-right: 0;
}

.head_title{
  color: #fff;
}

.title_logo{
  width: 60px;
  height: 60px;
  background: #ff0000;
  padding: 7px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 90px;
}

.head_title h1{
  font-family: 'proxima-semi-bold';
  font-size: 36px;
  text-align: center;
  padding-bottom: 60px;
}

.head_title em{
  margin: 0 auto;
  display: block;
  width: 20px;
  border-bottom: 2px solid #fff;
  font-size: 0;
  padding: 15px 0 5px;
}

.main_menu_item{
  list-style-type: none;
  letter-spacing: 0.4px;
  padding-right: 50px;
  float: left;
}

.main_menu_item:last-child{
  padding-right: 0;
}

.main_menu_link{
  position: relative;
  text-decoration: none;
  font-family: 'proxima-bold';
  font-weight: bold;
  color: black;
}

.main_menu_list a:hover:after{
  content: "q";
  position: absolute;
  font-size: 0;
  top: 25px;
  margin: 0 auto;
  border-bottom: 2px solid #fd1022;
  width: 56px;
  left: -35%;
  right: -35%;
}

.main_menu_list{
  text-align: center;
  margin: auto;
  clear: both;
  display: table;
}

.main_menu{
  margin: 40px auto;
}

.width_container{
  max-width: 640px;
}

.main_active:after{
  content: "q";
  position: absolute;
  font-size: 0;
  top: 25px;
  margin: 0 auto;
  border-bottom: 2px solid #fd1022;
  width: 56px;
  left: -35%;
  right: -35%;
}

.main_info{
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.info_logo{
  width: 60px;
  height: 60px;
  margin: auto;
}

.info_logo_big_pictures{
  width: 80px;
}

.info_title{
  padding-bottom: 22px;
  font-family: 'Proxima-semi-bold';
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #222222;
  padding-left: 15px;
  padding-right: 15px;
}

.info_text, .info_text_calculation, .info_text_strategy{
  text-align: left;
  padding: 0 25px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.3px;
  text-align: justify;
  font-family: 'proxima-regular';
  padding-bottom: 50px;
}

.info_text_calculation p:nth-child(2){
  text-align: center;
  font-family: 'proxima-bold';
  padding: 15px 0 20px;
}

.info_text_calculation p:nth-child(3){
  padding-bottom: 15px;
}

.info_text_calculation p:nth-child(5){
  padding-bottom: 15px;
}

.info_text_strategy p:nth-child(1){
  padding-bottom: 15px;
}

footer{
  height: 100px;
  width: 100%;
  background-color: #dadada;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_social li{
  width: 29px;
  height: 29px;
  float: left;
  margin-right: 30px;
  list-style-type: none;
}

.footer_social li a{
  width: 29px;
  height: 29px;
  float: left;
}

.footer_social li:last-child{
  margin-right: 0;
}

.footer_menu li{
  float: left;
  list-style-type: none;
}

.footer_social_facebook{
  background: url(../img/BlackIcons.png);
  background-repeat: no-repeat;
}

.footer_social_twitter{
  background: url(../img/BlackIcons.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.footer_social_youtube{
  background: url(../img/BlackIcons.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.footer_social_facebook:hover{
  background: url(../img/ColorIcons.png);
  background-repeat: no-repeat;
}

.footer_social_twitter:hover{
  background: url(../img/ColorIcons.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.footer_social_youtube:hover{
  background: url(../img/ColorIcons.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.footer_menu a{
  text-decoration: none;
  padding-right: 20px;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #222222;
  font-family: 'proxima-regular';
}

.footer_menu a:hover{
  color: #ff0000;
}

.footer_copyright{
  font-family: 'proxima-regular';
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #000000;
  padding-top: 10px;
  padding: 10px 10px 0;
}

@media (max-width: 576px) {
  .header_nav{
    text-align: center;
    display: none;
  }

  .ipad_container_main .main_table_iphone th{
    font-size: 8px;
  }

  .ipad_container_main .main_table_iphone td{
    font-size: 8px;
  }

  .header_nav_main, .header_nav_contact, .header_nav_home{
    display: none;
  }

  .subs_form .subs_form_password{
    clear: both;
    display: table;
    margin: 5px auto;
  }

  .container .main_menu {
    margin: 20px auto;
  }
  .header_bg_home .header_nav_home{
    border: none;
  }

  .nav_menu{
    text-align: center;
  }

  .nav_menu ul li{
    float: none;
    margin: 0 0 18px 0;
  }

  .nav_menu_list{
    float: none;
  }

  .nav_menu_list_item a:hover{
    border-bottom: 2px solid #ff0000;
    padding-bottom: 15px;
  }

  .header_nav{
    border: none;
  }

  .main_menu{
    text-align: center;
  }

  .main_menu_item{
    float: none;
    padding: 25px;
  }

  .subs_form .subs_form_name{
    margin-right: 0;
    margin-bottom: 10px;
  }

  .started_subs_title{
    padding-top: 35px;
  }

  .started_bookmakers .started_bookmakers_logos .started_bookmakers_bet3{
    margin-left: 0
  }

  .header_logo{
    padding-right: 0 !important;
  }

  .contact_main .contact_form{
    margin: 20px auto;
  }

  .contact_main .contact_info{
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    margin-top: 20px;
  }

  .header_bg .head_title_bookies h2{
    padding: 20px 30px;
    font-size: 22px;
  }

  .help_terms .terms_sup_menu .terms_sup_menu_terms_link{
    margin-right: 0;
  }

  .help_terms .terms_sup_menu .terms_sup_menu_policy_link{
    margin-left: 0;
  }

  .help_terms .terms_sup_menu li{
    display: block;
    padding-bottom: 20px;
  }

  .presents_ipad{
    margin-top: 50px;
    text-align: center;
  }

  .ipad_body{
    width: 220px;
    position: relative;
  }

  .ipad_screen{
    width: 182px;
    height: 242px;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -91px;
  }

  .presents_mac{
    position: relative;
    margin-top: 50px;
    text-align: center;
  }

  .mac_body{
    width: 220px;
    position: relative;
  }

  .mac_screen{
    width: 140px;
    height: 85px;
    position: absolute;
    top: 9px;
    left: 50%;
    margin-left: -70px;
  }

  main .home_table{
  }

  main .home_user_table_one{
  }

  .home_table .home_user_table th{
    font-size: 8px;
  }

  .home_table .home_user_table th, td{
    font-size: 8px;
  }

  .home_user_right{
    overflow-x: scroll;
  }

  .home_user_left{
    overflow-x: scroll;
  }

  .home_user_table_main{
    width: 550px;
    overflow-x: scroll;
  }

  .settings_checked .settings_checkbox p{
    text-align: center;
    padding-left: 0;
  }

  .started_bookmakers_logos{
    flex-direction: column;
  }

  .social_sing_list .social_login_list_twitter{
    margin: 20px 0;
  }

  .main_login{
    padding: 0 20px;
  }

  .main_sing_up .form_login .checkbox_label{
    white-space: normal;
  }

  .play_secktop{
    display: none;
  }
}

@media (max-width: 768px) {
  .header_nav{
    margin: 18px 50px;
  }

  footer .footer_social{
    margin-right: 0;
  }

  .nav_menu_list{
    float: none;
    clear: both;
    display: table;
    margin: 0 auto;
}

  .header_logo{
    text-align: center;
  }

  .main_menu_item{
    padding: 15px;
    margin-bottom: 10px;
  }

  .footer_copyright{
    font-family: 'proxima-regular';
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    padding: 10px 10px 0;
  }

  .footer_social{
    clear: both;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .footer_menu{
    margin: 20px auto;
  }

  footer{
    display: table;
  }

  .contact_main .contact_info p{
    font-size: 16px;
  }

  .contact_main .contact_info h2{
    font-size: 24px;
    padding: 0 25px;
  }

  .contact_main .contact_info p{
    text-align: center;
  }

  main .section_bookies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section_bookies .bookies_pinnacle{
    margin: 0 auto;
    padding: 0;
  }

  .section_bookies .bookies_winner{
    margin: 0 auto;
    padding: 0;
  }

  .section_reasons .reasons_safe{
    display: block;
    padding: 60px 30px;
  }

  .reasons_safe .safe_text{
    text-align: center;
    max-width: 100%;
  }

  .section_reasons .reasons_title{
    font-size: 24px;
    padding: 20px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #ff0000;
    font-family: 'Proxima-bold';
  }

  .reasons_safe .safe_logo{
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin: auto;
  }

  .reasons_safe{
    text-align: center;
    padding: 60px;
    margin-bottom: 0;
    background-color: #dadada;
  }

  .reasons_safe .safe_text h3{
    padding-bottom: 20px;
    letter-spacing: -0.7px;
    color: #222222;
    font-size: 30px;
    font-family: 'Proxima-semi-bold';
  }

  .reasons_safe .safe_text p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: justify;
    color: #000000;
  }
}

@media (min-width: 768px) and (max-width: 835px) {
  footer .footer_social{
    margin-right: 60px;
  }
}

@media (min-width: 576px) {
  .mobile_menu{
    display: none !important;
  }

  .home_user_table_one td{
    font-size: 14px;
  }

  .home_user_table td{
    font-size: 14px;
  }

  .play_mobile{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .contact_main .contact_info{
    margin-left: 40px;
    margin-right: 20px;
  }
  .presents_ipad{
    margin-top: 50px;
    text-align: center;
  }

  .ipad_body{
    width: 250px;
    position: relative;
  }

  .ipad_screen{
    width: 206px;
    height: 273px;
    position: absolute;
    top: 21px;
    left: 50%;
    margin-left: -103px;
  }

  .presents_mac{
    position: relative;
    margin-top: 50px;
    text-align: center;
  }

  .mac_body{
    width: 550px;
    position: relative;
  }

  .mac_screen{
    width: 355px;
    height: 232px;
    position: absolute;
    top: 23px;
    left: 50%;
    margin-left: -180px;
  }
}

@media (min-width: 768px){
  .presents_ipad{
    margin-top: 50px;
    text-align: center;
  }

  .ipad_body{
    width: 250px;
    z-index: 3;
    height: 321px;
    position: absolute;
    top: 72px;
    left: 50%;
    margin-left: -376px;
  }

  .ipad_screen{
    width: 205px;
    height: 260px;
    position: absolute;
    top: 93px;
    left: 50%;
    margin-left: -354px;
    z-index: 3;
  }

  .presents_mac{
    position: relative;
    margin-top: 50px;
    text-align: center;
  }

  .mac_body{
    width: 650px;
    position: absolute;
    left: 50%;
    margin-left: -203px;
    z-index: 3;
    top: 50px;
  }

  .mac_screen{
    width: 410px;
    height: 275px;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -87px;
    z-index: 3;
  }
  .section_presents_container{
  }
}
@media (min-width: 960px) {
  main .home_table{
    padding: 0 20px;
  }

  .home_table_bg{
    margin: 0 100px;
  }

  main .home_user_table_container{
    margin: 40px !important;
  }
}

@media (max-width: 990px) {

    .section_presents_container .mac_container_main{
      display: none;
    }

    .section_presents_container .ipad_container_main{
      display: block;
      width: 80%;
      height: 600px;
      padding-top: 27px;
      margin: auto;
      background: url(../img/pictures/ipad.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: relative;
      padding-left: 4.5%;
      padding-right: 4.5%;
    }

    .ipad_container_main .main_table_iphone{
      display: block;
      width: 100%;
      height: 511px;
      overflow: scroll;
      margin-top: 34px;
      margin: auto;
    }
}

.ipad_container_main{
  display: none;
}

.main_table_iphone{
  display: none;
}

@media (min-width: 768px) and (max-width: 990px) {
  .contact_main .contact_form{
    margin-right: 120px;
  }

  .contact_main .contact_info{
    margin-left: 90px;
    margin-right: 50px;
  }

  .section_reasons .reasons_safe{
    text-align: center;
    padding: 60px 80px;
    margin-bottom: 0;
    background-color: #dadada;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .section_presents_container .ipad_container_main{
    width: 70%;
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}

@media (min-width: 1024px) {
  .contact_main .contact_form{
    padding: 0 60px;
    margin-top: 20px;
  }

  .settings_checkbox{
    margin: 60px 150px !important;
  }
}


/*started*/

.nav_menu_list_item_login{
  border: solid 1px #ff0000;
  padding: 3px 30px;
  color: #ff0000;
  text-decoration: none;
  font-family: 'proxima-regular';
  border-radius: 2px;
}

.nav_menu_list_item_sing_up{
  border-radius: 2px;
  padding: 3px 25px;
  background-color: #ff0000;
  color: #fff;
  text-decoration: none;
  font-family: 'proxima-regular';
  border: solid 1px #ff0000;
}

.header_container_started{
  background-image: url(../img/pictures/r343.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.info_text_choose p:nth-child(1){
  padding-bottom: 40px;
}

.info_text_choose p:nth-child(2){
  padding-bottom: 40px;
}

.info_text_deposit p:nth-child(1){
  padding-bottom: 40px;
}

.info_text_deposit p:nth-child(2){
  padding-bottom: 40px;
}

.started_subs_title{
  background: #222;
  padding: 35px 0;
}

.started_subs_title p{
  font-size: 16px;
  letter-spacing: -0.4px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  font-family: 'proxima-regular';
}

.started_subs_title h2{
  font-size: 24px;
  letter-spacing: -0.6px;
  text-align: center;
  color: white;
  font-family: 'proxima-semi-bold';
}

.subs_form {
  text-align: center;
}

.subs_form_name, .subs_form_email, .subs_form_button, .subs_form_password{
  width: 160px;
  height: 30px;
  font-family: 'proxima-semi-bold';
  font-size: 16px;
}

.subs_form_name{
  margin-right: 25px;
  padding-left: 10px;
  margin-top: 15px;
}

.subs_form_email{
  padding-left: 10px;
}

.subs_form_password{
  padding-left: 10px;
  margin-left: 30px;
}

.subs_form label{
  clear: both;
  display: table;
  color: white;
  margin: 10px auto;
}

.subs_form_button{
  color: white;
  margin: auto;
  -webkit-border-radius: 2px;
  background-color: #ff0000;
  border: solid 1px #ff0000;
  -webkit-background-color: #ff0000;
  -webkit-background-color: #ff0000;
  margin-top: 25px;
  font-family: 'proxima-regular';
  font-size: 14px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.started_bookmakers_title h3{
  font-size: 18.1px;
  padding-top: 40px;
  padding-bottom: 35px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ff0000;
  font-family: 'proxima-bold';
}

.started_bookmakers_logos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.started_bookmakers_logos span{
  padding-right: 30px;
  padding-bottom: 65px;
  width: 170px;
}

.started_bookmakers_logos span:last-child{
  padding-right: 0;
}

/*contact*/

.header_container_contact{
  background: #222;
  padding-top: 20px;
  box-shadow: 0 0 11.2px 1.8px rgba(83, 83, 84, 0.46);
}

.header_nav_contact{
  margin-top: 0;
}

.contact_info{
  margin-left: 120px;
  margin-right: 50px;
}

.contact_info p{
  font-size: 24px;
  padding:0 25px 25px;
  color: #222;
  font-family: 'proxima-regular';
  text-align: justify;
}

.contact_info h2{
  font-size: 30px;
  color: #222;
  text-align: center;
  font-family: 'proxima-regular';
}

.contact_form{
  margin-right: 120px;
  margin-top: 20px;
}

.contact_main{
  overflow: hidden;
}

.contact_form{
  background-color: #ffffff;
  box-shadow: 0px 6px 36px 0 rgba(83, 83, 84, 0.25);
}

.contact_form_title{
  position: relative;
  padding-top: 25px;
  font-size: 24px;
  padding-bottom: 5px;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ff0000;
  font-family: 'proxima-semi-bold';
}

.contact_form_title::after{
  content: '';
  position: absolute;
  border: 1px solid #222;
  width: 60px;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}

.form_contact p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #a2a2a2;
  font-family: 'proxima-semi-bold';
}

.form_login label{
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #a2a2a2;
  font-family: 'proxima-semi-bold';
}

.form_login p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #a2a2a2;
  font-family: 'proxima-semi-bold';
}

.form_login i{
  margin: 20px 0px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  display: block;
  font-family: 'proxima-semi-bold';
}

.form_login a{
  color: red;
  text-decoration: none;
}

.form_contact input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #222;
  font-size: 16px;
  font-family: 'proxima-regular';
  color: #222;
}

.form_contact textarea{
  border: 1px solid #222;
  width: 100%;
  height: 180px;
}

.form_contact_name, .form_contact_account, .form_contact_email, .form_contact_password, .form_contact_subject, .form_contact_capcha, .form_contact_message{
  position: relative;
  padding: 25px 0 20px 20px;
}

.form_contact_name:before{
  content: '';
  position: absolute;
  background: url(../img/name.svg);
  width: 38px;
  height: 15px;
  left: -12px;
  background-repeat: no-repeat;
  bottom: 25px;
}

.form_contact_email:before{
  content: '';
  position: absolute;
  background: url(../img/Email.svg);
  width: 38px;
  height: 15px;
  left: -12px;
  background-repeat: no-repeat;
  bottom: 25px;
}

#true:before{
  content: '';
  position: absolute;
  background: url(../img/Correct.png);
  width: 20px;
  height: 20px;
  right: 0px;
  background-repeat: no-repeat;
  top: 65px;
}

#false:before{
  content: '';
  position: absolute;
  background: url(../img/Error.png);
  width: 20px;
  height: 20px;
  right: 0px;
  background-repeat: no-repeat;
  top: 65px;
  display: none;
}

.form_contact_subject:before{
  content: '';
  position: absolute;
  background: url(../img/Subjectofmessage.svg);
  width: 38px;
  height: 15px;
  left: -0;
  background-repeat: no-repeat;
  bottom: 25px;
}

.form_contact_capcha:before{
  content: '';
  position: absolute;
  background: url(../img/Captcha.svg);
  width: 38px;
  height: 21px;
  left: -3px;
  background-repeat: no-repeat;
  bottom: 23px;
}

.form_contact_message:before{
  content: '';
  position: absolute;
  background: url(../img/Sendmessage.svg);
  width: 38px;
  height: 23px;
  left: -3px;
  background-repeat: no-repeat;
  bottom: 22px;
}

.form_contact input[type="submit"] {
  width: 140px;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.form_contact{
  padding: 20px 10px;
  text-align: center;
}

.contact_form_info{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*bookies*/

.head_title_bookies h2{
  color: white;
  font-family: 'proxima-semi-bold';
  font-size: 27px;
  padding: 83px 130px;
  text-align: center;
  padding-bottom: 60px;
  letter-spacing: -0.7px;
}

.header_container_bookies{
  background-image: url(../img/pictures/72ff281c988c1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.bookies_img{
  width: 240px;
  height: 120px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 7px 0 rgba(83, 83, 84, 0.42);
  padding: 15px 25px;
}

.bookies_img img{
  width: 100%;
  height: auto;
}

.description_bookies p{
  max-width: 240px;
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.3px;
  text-align: justify;
  color: #000000;
  font-family: 'proxima-regular';
}

.section_bookies{
  display: flex;
  justify-content: center;
}

.bookies_pinnacle{
  padding-right: 100px;
}

.bookies_winner{
  padding-left: 100px;
}

.bookies_img_138 img{
  width: 60%;
}

.section_bookies:last-child{
  padding-bottom: 40px;
}

/*terms*/

.terms_sup_menu li{
    list-style-type: none;
    display: inline-block;
}

.terms_sup_menu a{
  font-size: 16px;
  letter-spacing: -0.4px;
  text-align: center;
  text-decoration: none;
  color: #222;
  font-family: 'proxima-semi-bold';
}

.terms_sup_menu .terms_sup_menu_terms_link{
    color: #ff0000;
    margin-right: 120px;
}

.terms_sup_menu .terms_sup_menu_policy_link{
    color: #ff0000;
    margin-left: 120px;
}

.terms_sup_menu{
  text-align: center;
}

.terms_info_title h2{
  font-size: 24px;
  padding: 40px 0 30px;
  text-align: center;
  color: #ff0404;
  font-family: 'proxima-bold';
}

.terms_info{
  max-width: 680px;
  margin: 0 auto;
  text-align: justify;
  padding: 0 25px;
}

.terms_info_title p{
  line-height: 1.7;
  font-size: 14px;
}

.terms_info_title p:last-child{
  padding-bottom: 45px;
}

.terms_info_title span{
  font-size: 14px;
  color: #ff0000;
  font-family: 'proxima-bold';
}

.help_contact_us{
  margin-bottom: 40px;
}

/*index*/

.header_container_main{
  background-image: url(../img/pictures/phpoetgRS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.head_title_main{
  max-width: 710px;
  margin: 0 auto;
  padding: 0 50px;
}

.head_title_main h1{
  font-size: 27.5px;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ff0000;
  font-family: 'proxima-semi-bold';
}

.head_title_main h2{
  font-size: 27.5px;
  letter-spacing: -0.7px;
  text-align: center;
  color: #f7f7f7;
  font-family: 'proxima-semi-bold';
}

.head_title_main_try{
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #ff0000;
  border: solid 1px #ff0000;
  color: white;
  margin: 25px auto;
  font-size: 14px;
  text-decoration: none;
}

.head_title_main_works{
  display: block;
  font-size: 16px;
  line-height: 0.94;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
}

.head_title_main_link_video{
  width: 40px;
  height: 40px;
  margin: 25px auto;
  display: block;
  background-image: url(../img/Play.svg);
  background-repeat: no-repeat;
}

.header_bg_main{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}

.header_nav_main{
  width: 100%;
  margin: 18px 102px;
}

.nav_menu_list_item_login_main{
  border: solid 1px #ff0000;
  padding: 3px 30px;
  color: #ff0000;
  text-decoration: none;
  font-family: 'proxima-regular';
  border-radius: 2px;
}

.head_title_main_register{
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

.head_title_main_register_sing{
  text-decoration: none;
  color: #ff0000;
}

.head_title_main_register_login{
  text-decoration: none;
  color: #555;
}

.section_presents_container{
  position: relative;
}


.reasons_title{
  font-size: 24px;
  padding: 45px 65px;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ff0000;
  font-family: 'Proxima-bold';
}

.safe_logo{
  width: 100px;
  height: 100px;
}

.safe_text{
  max-width: 470px;
  text-align: left;
}

.safe_text h3{
  padding-bottom: 20px;
  line-height: 1.5;
  letter-spacing: -0.7px;
  color: #222222;
  font-size: 30px;
  font-family: 'Proxima-semi-bold';
}

.safe_text p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: justify;
  color: #000000;
}

.reasons_safe{
  text-align: center;
  padding: 60px 120px;
  margin-bottom: 0;
  background-color: #dadada;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section_reasons .reasons_star{
  flex-direction: row-reverse;
  background: none;
}

.bottom_title_main{
  text-align: center;
  padding: 60px 0;
}

.bottom_title_main h2{
  font-size: 27.5px;
  max-width: 670px;
  padding: 0 20px;
  letter-spacing: -0.7px;
  margin: 0 auto;
  color: #222;
  font-family: 'proxima-semi-bold';
}

.bottom_title_main_try{
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #ff0000;
  border: solid 1px #ff0000;
  color: white;
  margin: 25px auto;
  font-size: 14px;
  text-decoration: none;
}

/*login*/

.header_container_login{
  background-image: url(../img/pictures/lanqiu-youxi-2560x1600.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.header_container_contact_us{
  background-image: url(../img/pictures/16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 10%;
}

.form_contact_password:before{
  content: '';
  position: absolute;
  background: url(../img/Request.svg);
  width: 38px;
  height: 15px;
  left: 0;
  background-repeat: no-repeat;
  bottom: 25px;
}

.form_contact input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #222;
  font-size: 14px;
  font-family: 'proxima-regular';
  color: #222;
}

.form_login{
  max-width: 300px;
  margin: 0 auto;
}

.form_login input{
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #222;
  font-size: 14px;
  font-family: 'proxima-regular';
  color: #222;
}

.form_login input[type="submit"] {
  width: 140px;
  height: 40px;
  font-size: 18px;
  padding-top: 7px;
  border-radius: 4px;
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  margin: 20px auto;
  display: table;
  text-align: center;
  cursor: pointer;
  clear: both;
}

.form_login span{
  font-size: 14px;
  line-height: 1.07;
  letter-spacing: -0.3px;
  color: #222222;
  clear: both;
  display: table;
}

/*home*/

.head_title_home{
  padding: 80px 0;
}

.header_bg_home{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header_nav_home{
  border-bottom: 1px solid white;
}

.home_limited{
  max-width: 660px;
  padding: 20px 20px;
  margin: auto;
}

.home_limited h2{
  font-size: 24px;
  padding: 40px 0;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ff0000;
  font-family: 'proxima-semi-bold';
}

.home_limited p{
  padding-bottom: 25px;
  font-size: 16px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
}

.home_limited p span{
  font-family: 'proxima-bold';
}

.home_limited a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  margin: auto;
  margin-bottom: 40px;
  font-size: 18px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
  font-family: 'proxima-semi-bold';
  border-radius: 4px;
  text-decoration: none;
  background-color: #ff0000;
  border: solid 1px #ff0000;
}

.home_table{
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  background-color: #e8e8e8;
  padding: 0 20px;
}

.home_pagination_list{
  list-style-type: none;
  padding: 20px 0px 20px 0;
  float: right;
}

.home_pagination_item{
  float: left;
}

.home_pagination_item a{
  text-decoration: none;
  font-size: 12px;
}

.home_pagination_link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  width: 20px;
  border-radius: 2px;
  border: solid 1px #d1d1d1;
  border-left: none;
}

.home_pagination_link_active{
  background-color: #ff0000;
  color: white;
}

.table_info{
  width: 100%;
  padding: 0 15px;
}

.table_info h3{
  text-align: center;
  background: #222;
  color: white;
  font-size: 12px;
  line-height: 1.75;
}

.table_info_sub_titles p{
  text-align: center;
  border: 1px solid #626262;
  font-size: 12px;
  line-height: 1.75;
  color: #ffffff;
}

.table_info_sub_titles{
  background-color: #a2a2a2;
}

.table_info_sub_titles p:first-child{
  border-top: none;
}

.table_info_sub_info p:first-child{
  border-top: none;
}

.table_info_sub_titles p:nth-child(2){
  flex: 1 0 35%;
  max-width: 42%;
  border-left: none;
  border-top: none;
}

.table_info_sub_titles p:nth-child(3){
  flex: 1 0 0%;
  max-width: 25%;
  border-left: none;
  border-top: none;
}

.table_info_sub_titles p:nth-child(4){
  max-width: 21%;
  border-left: none;
  border-top: none;
}

.table_info_sub_titles p:nth-child(4){
  border-left: none;
  border-top: none;
}

.table_info_sub_titles p:nth-child(5){
  border-left: none;
  border-top: none;
}

.table_info_sub_info{
  background-color: #fff;
}

.table_info_sub_info p{
  text-align: center;
  border: 1px solid #626262;
  font-size: 14px;
  line-height: 1.75;
  color: #222;
  padding: 0
}

.table_info_sub_info span{
  display: block;
  font-size: 12px;
}

.table_info_sub_info p:nth-child(2){
  text-align: left;
  padding-left: 15px;
  line-height: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 35%;
  max-width: 42%;
  border-left: none;
  border-top: none;
}

.table_info_sub_info p:nth-child(3){
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0%;
  max-width: 25%;
  border-left: none;
  border-top: none;
}

.table_info_sub_info p:nth-child(4){
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 21%;
  border-left: none;
  border-top: none;
}

.table_info_sub_info p:nth-child(5){
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0101;
  font-family: 'proxima-bold';
  border-left: none;
  border-top: none;
}

/*home_user*/

.home_user_table_container{
  margin: 30px; 0 0 0 !important;
}

.home_user_table_info{
  margin: auto;
}

.home_user_table caption{
  text-align: center;
  background-color: #222222;
  font-size: 12px;
  line-height: 1.75;
  color: #ffffff;
}

.home_user_table th{
  border: 1px solid #222;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
  color: #ffffff;
  background-color: #a2a2a2;
}

.home_user_table td span{
  display: block;
}

.home_user_table td:last-child{
  color: #ff0101;
  font-family: 'proxima-bold';
  border-color: #222;
}

.home_user_table td span img{
  width: 44px;
}

.home_user_table table {
    border-collapse: collapse;
    width: 100%;
}

.home_user_table, td {
  border: 1px solid #222;
  line-height: 1.75;
  text-align: center;
  color: #222;
  vertical-align: middle;
  background-color: white;
}

.table_info_pagination{
  width: 100%;
}

.home_user_right{
  max-width: 600px;
}

.home_user_left{
  padding-bottom: 50px;
}

.home_user_left img{
  width: 44px;
  vertical-align: middle;
}

.home_user_table_one table{
  width: 100%;
  border-collapse: collapse;
}

.home_user_table_one{
  background: #e8e8e8;
  padding: 20px;
}

.home_user_table_one caption{
  font-size: 14px;
  padding-bottom: 17px;
  line-height: 1.5;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  font-family: 'proxima-bold';
}

.home_user_table_one th, td{
  border-color: #626262;
  border: 1px solid;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.home_user_table_one th, td a{
  text-decoration: none;
  color: #222;
}

.link_profit{
  text-decoration: none;
  color: red;
}

.home_user_table_one td:first-child{
  padding-right: 35px;
  padding-left: 15px;
  white-space: nowrap;
  text-align: left;
  border-left: none;
}

.home_user_table_one th{
  font-size: 12px;
  line-height: 1.75;
  color: #ffffff;
  background: #222;
  border: 1px solid #222;
}

.home_user_dollar{
  width: 180px;
  margin: auto;
}

.home_user_dollar th:first-child{
  padding: 0 10px;
  white-space: nowrap;
}

.home_user_left .home_user_table_two .home_user_dollar input{
  width: 75px;
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  text-align: center;
  margin-top: 3px;
  margin-right: 2px;
  font-family: 'proxima-semi-bold';
  border: none;
}

.dollars_profit{
  font-size: 16px;
  font-family: 'proxima-semi-bold';
}

.home_user_dollar [type="text"]::-webkit-input-placeholder{
  color: black;
}

.home_user_table_one td:last-child{
  padding: 4px;
  border-right: none;
}

.home_user_table_one td:nth-child(2){
  padding: 0 15px;
}

.home_user_table_one td a{
  border-radius: 2px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  padding: 3px 15px;
}

.home_user_left_titles h4{
  padding: 25px 0 30px 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #ff0000;
  text-transform: uppercase;
  font-family: 'proxima-bold';
}

.home_user_left_titles p{
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #222222;
}

.home_user_left_titles span{
  font-family: 'proxima-bold';
}

.home_user_left_titles{
  padding-bottom: 20px;
}

.home_user_table_one .home_user_table_two td:first-child{
  padding: 0 0 0 10px;
}

.home_user_table_one .home_user_table_two input{
  width: 75px;
  background-color: #e6e6e6;
  border-bottom: none;
}

.home_user_table_one .home_user_table_two td:last-child{
  padding: 0;
}

.home_user_table_two{
  padding-bottom: 20px;
}

/*setting bookies*/

.settings_checked input[type=checkbox] {
	display: none;
}

.settings_checkbox label {
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #969696;
}

.settings_checkbox label:before {
	content: "";
	display: inline-block;

	width: 20px;
	height: 20px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #dadada;
}


.settings_checkbox input[type=checkbox]:checked + label:before {
	content: "";

	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 20px;
	color: #fff;
	text-align: center;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  background-image: url(../img/downarrow.svg);
}

.settings_checkbox input[type=checkbox]:checked + label {
	color: #222;
}

.settings_checkbox{
  text-align: center;
}

.settings_checkbox p{
  margin-bottom: 50px;
  text-align: left;
  padding-left: 60px;
}

.header_container_settings_bookies{
  background-image: url(../img/pictures/Soccer_Backgorund141.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/*settings_account*/

.form_contact_account:before{
  content: '';
  position: absolute;
  background: url(../img/Flag.svg);
  width: 30px;
  height: 25px;
  left: -2px;
  background-repeat: no-repeat;
  bottom: 22px;
}

.form_contact_settings{
  max-width: 340px;
  margin: auto;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 0 20px;
}

.form_contact_settings p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #a2a2a2;
  font-family: 'proxima-semi-bold';
}

.form_contact_settings input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #222;
  font-size: 14px;
  font-family: 'proxima-regular';
  color: #222;
}

.form_contact_settings i{
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.3px;
  text-align: justify;
  color: #000000;
  padding-top: 10px;
  display: block;
}

.select_country{
  background: transparent;
  font-size: 14px;
  width: 360px;
  position: relative;
  border: none;
  border-bottom: 1px solid black;
}

.form_contact_account span:after{
  content: '';
  position: absolute;
  width: 30px;
  height: 20px;
  right: -10px;
  bottom: -20px;
  background: url(../img/Downarrow.svg);
  background-color: white;
  background-repeat: no-repeat;
}

.container_coutry{
  overflow: hidden;
}

/*reset*/

.header_container_reset{
  background-image: url(../img/pictures/maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.reset_container h2:first-child{
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
  padding: 40px 20px 0 20px;
}
.reset_container h2:nth-child(2){
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
  padding:0 20px 40px 20px;
}

/*sing_up*/

.main_sing_up{
  padding: 0 20px;
}

.form_changes_pass label{
  display: block;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #a2a2a2;
  font-family: 'proxima-semi-bold';
}

.form_changes_pass{
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.form_changes_pass input{
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #222;
  font-size: 14px;
  font-family: 'proxima-regular';
  color: #222;
}

.form_contact_settings input[type="submit"] {
  width: 140px;
  height: 40px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  margin: 20px auto;
  display: table;
  text-align: center;
  cursor: pointer;
}

.form_changes_pass input[type="submit"] {
  width: 140px;
  height: 40px;
  font-size: 18px;
  padding-top: 7px;
  border-radius: 4px;
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  margin: 20px auto;
  text-align: center;
  display: table;
}

.form_changes_pass p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #a2a2a2;
  font-family: 'proxima-semi-bold';
}

.form_changes_pass i{
  padding: 10px 0 30px 0;
  display: block;
}

.replacer{
  border: none;
  border-bottom: 1px solid #222;
  font-family: 'proxima-regular';
  color: #222;
  letter-spacing: 10px !important;
  font-size: 20px !important;
}

.replacer.current{border-color:#ccc;color:#000;background:#fff}

.home_user_table_main td:first-child{
  border-left: none;
}

.home_user_table_main td:last-child{
  border-right: none;
}

.home_user_table_main td{
  border-bottom: none;
}

.started_bookmakers_bet{
  position: relative;
  background: url(../img/Bet.png);
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.started_bookmakers_bet:hover:before{
  content: "";
  position: absolute;
  background-image: url(../img/Betc.png);
  background-repeat: no-repeat;
  height: 65px;
  width: 170px;
  background-position: 50% 50%;
  background-color: white;
  right: 0;
}

.started_bookmakers_bet2{
  position: relative;
  background: url(../img/Bookmaker.png);
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.started_bookmakers_bet2:hover:before{
  content: "";
  position: absolute;
  background-image: url(../img/Bookmakerc.png);
  background-repeat: no-repeat;
  height: 65px;
  width: 170px;
  background-position: 50% 50%;
  background-color: white;
  right: 0;
}

.started_bookmakers_bet3{
  position: relative;
  background: url(../img/Betonline.png);
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.started_bookmakers_bet3:hover:before{
  content: "";
  position: absolute;
  background: url(../img/Betonlinec.png);
  background-repeat: no-repeat;
  height: 65px;
  width: 170px;
  background-position: 50% 50%;
  background-color: white;
  right: 0;
}

.started_bookmakers_bet4{
  position: relative;
  background: url(../img/Betrics.png);
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.started_bookmakers_bet4:hover:before{
  content: "";
  position: absolute;
  background: url(../img/Betricsc.png);
  background-repeat: no-repeat;
  height: 65px;
  width: 170px;
  background-position: 50% 50%;
  background-color: white;
  right: 0;
}

.started_bookmakers_bet5{
  position: relative;
  background: url(../img/Pinnacle.png);
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.started_bookmakers_bet5:hover:before{
  content: "";
  position: absolute;
  background: url(../img/Pinnaclec.png);
  background-repeat: no-repeat;
  height: 65px;
  width: 170px;
  background-position: 50% 50%;
  background-color: white;
  right: 0;
}

.started_bookmakers_bet6{
  position: relative;
  background: url(../img/5Dimes.png);
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.started_bookmakers_bet6:hover:before{
  content: "";
  position: absolute;
  background: url(../img/5Dimesc.png);
  background-repeat: no-repeat;
  height: 65px;
  width: 170px;
  background-position: 50% 50%;
  background-color: white;
  right: 0;
}

.started_bookmakers_bet3{
  margin-left: 30px;
}

.started_bookmakers_bet5{
}

.form_login .checkbox_input{
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 30px;
  margin-right: 10px;
}

.form_login .checkbox_label{
  padding-left: 30px;
  margin-top: 27px;
  margin-bottom: 40px;
  color: #222;
  white-space: nowrap;
  font-size: 14px;
}

.form_login .checkbox_label a{
  color: #ff0000;
  text-decoration: none;
}

.social_sing_up{
  margin: 60px 0 40px;
}

.policy_number_indent{
  padding: 10px 0;
}

.terms_info_title i{
  font-family: 'proxima-bold';
}

.form_login .login_remember{
  margin-top: 30px;
  color: #000;
  font-family: 'proxima-semi-bold';
}

.social_sing_up_or{
  font-size: 18px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
  font-family: 'proxima-semi-bold';
  padding-top: 20px;
}

.social_sing_list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social_sing_list_facebook{
  background: url(../img/SocialButtons.png);
  width: 220px;
  height: 40px;
  margin: 20px 0px;
  display: block;
}

.social_sing_list_twitter{
  background: url(../img/SocialButtons.png);
  background-position: 50%;
  width: 220px;
  height: 40px;
  margin: 20px 60px;
  display: block;
}

.social_sing_list_google{
  background: url(../img/SocialButtons.png);
  background-position: 100%;
  width: 220px;
  height: 40px;
  margin: 20px 0px;
  display: block;
}

.social_login_list_facebook{
  background: url(../img/Loginbuttons.png);
  width: 220px;
  height: 40px;
  margin: 20px 0px;
  display: block;
}

.social_login_list_twitter{
  background: url(../img/Loginbuttons.png);
  background-position: 50%;
  width: 220px;
  height: 40px;
  margin: 20px 60px;
  display: block;
}

.social_login_list_google{
  background: url(../img/Loginbuttons.png);
  background-position: 100%;
  width: 220px;
  height: 40px;
  margin: 20px 0px;
  display: block;
}

/*Deposite page*/

.deposit_title{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ff0000;
  font-family: 'Proxima-semi-bold';
  padding: 40px 0;
}

.deposit_text{
  max-width: 480px;
  margin: auto;
  text-align: justify;
}

.deposit_text span{
  font-family: 'Proxima-bold';
}


.deposit_sebscribe {
  margin: 40px auto;
  margin-bottom: 0;
  width: 140px;
  height: 40px;
  display: block;
  font-size: 18px;
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.deposit_main{
  padding-bottom: 55px;
  padding-left: 20px;
  padding-right: 20px;
}

.deposit_main a{
  text-decoration: none;
  color: #346ae5;
}


.invalid input,
.invalid textarea {
  border: 1px solid red;
}

.valid input,
.valid textarea {
  border: 1px solid green;
  color: green;
}

div.required.invalid span {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: red;
}

div.required span {
  display: none;
}

#success {
  background-color: #5fb012;
  display: none;
}

#error {
  background-color: #b01212;
  display: none;
}

/*mobile_menu*/

.menu {
  position: relative;
  -webkit-transition: 0.1s -webkit-transform linear;
  transition: 0.1s -webkit-transform linear;
  transition: 0.1s transform linear;
  transition: 0.1s transform linear, 0.1s -webkit-transform linear;
  position: relative;
  background: 0;
  float: left;
  margin: 1rem 1rem;
  height: 20px;
  width: 25px;
  outline: 0;
  padding: 0;
  border: 0;
  z-index: 100;
}

.bar, .bar::before, .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear, 0.2s -webkit-transform linear;
  position: absolute;
  background: #fff;
  margin: auto;
  width: 100%;
  height: 0.2rem;
  content: '';
  top: 50%;
  left: 0;
}
.bar {
  margin-top: -0.2rem;
}
.bar::before {
  top: -.6rem;
}
.bar::after {
  top: .6rem;
}
.bar::before, .bar::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.active .bar {
  background: 0;
}
.active .bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.active .bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.active .bar::before, .active .bar::after {
  top: 0;
  background: #000;
}
.active .bar, .active .bar::before, .active .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s, 0.2s -webkit-transform linear 0.2s;
}

 nav {
   width: 100%;
   background: #fff;
   position: absolute;
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
   -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
   transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
   transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
   transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
   z-index: 99;
   padding-bottom: 300px;
}

.mobile_link_logo{
  display: block;
  width: 200px;
  margin: 0 auto;
}

nav img{
  width: 100px;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu-open nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
nav ul li a{
  position: relative;
  padding: 15px 0 15px 50px;
  font-size: 18px;
  color: #030000;
  border-left: 5px solid transparent;
  text-decoration: none;
  display: block;
  font-size: 10px;
}

nav ul li a:hover{
  background-color: #ebebeb;
  border-left: 5px solid #ff0000;
  color: #ff0000;
}

.active_mobile{
  background-color: #ebebeb;
  border-left: 5px solid #ff0000;
  color: #ff0000;
}

.mobile_home::before{
  content: "";
  position: absolute;
  width: 35px;
  height: 100%;
  background: url(../img/home.svg);
  background-repeat: no-repeat;
  left: 10px;
}

.mobile_Bookies::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background: url(../img/001-bookies.svg);
  background-repeat: no-repeat;
  left: 20px;
}
.mobile_Settings::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background: url(../img/Settings.svg);
  background-repeat: no-repeat;
  left: 20px;
}
.mobile_Help::before{
  content: "";
  position: absolute;
  width: 35px;
  height: 100%;
  background: url(../img/information.svg);
  background-repeat: no-repeat;
  left: 10px;
}
.mobile_Contact::before{
  content: "";
  position: absolute;
  width: 45px;
  height: 100%;
  background: url(../img/Contact.svg);
  background-repeat: no-repeat;
  left: 5px;
  top: 12px;
}
.mobile_Terms::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background: url(../img/document.svg);
  background-repeat: no-repeat;
  left: 20px;
}
.mobile_Privacy::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background: url(../img/001-Privacy.svg);
  background-repeat: no-repeat;
  left: 20px;
}

.mobile_started::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  background: url(../img/started.svg);
  background-repeat: no-repeat;
  left: 10px;
}

.mobile_upgrade{
  margin: 20px auto;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 50px;
  display: block;
  text-align: center;
  border: 1px solid #ff0000;
  border-radius: 4px;
  background: #ff0000;
  color: white;
  font-size: 12px;
}

.moble_logout{
  margin: 20px auto;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 50px;
  display: block;
  text-align: center;
  border: 1px solid #ff0000;
  border-radius: 4px;
  color: red;
  font-size: 12px;
}

#mobile_menu{
  position: fixed;
}


.mobile_menu{
  clear: both;
  display: table;
  width: 100%;
}

.mobile_login{
  float: right;
  width: 45px;
  margin-right: 80px;
  position: relative;
}

.mobile_login span:first-child{
  color: #fff;
  position: absolute;
  top: 25px;
  right: 35px;
}

.mobile_login span:last-child{
  color: #fff;
  position: absolute;
  top: 25px;
  left: 30px;
  white-space: nowrap;
}

.mobile_login a{
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.main_table_mac{
  width: 710px;
  height: 378px;
  overflow: scroll;
  margin: 0 auto;
}

.mac_container_main{
  width: 1000px;
  height: 450px;
  padding-top: 27px;
  margin: auto;
  background: url(../img/pictures/mackbook.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 10px;
}

.main_table_ipad{
  width: 210px;
  margin-left: 132px;
  height: 286px;
  overflow: scroll;
  float: left;
  margin-top: 44px;
  margin-right: 23px;
}

.main_table_ipad td{
  font-size: 8px;
}

.main_table_ipad th{
  font-size: 10px;
}

.contact_info{
  margin-left: 120px;
  margin-right: 50px;
  height: 775px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 6px 36px 0 rgba(83, 83, 84, 0.25);
  margin-top: 20px;
  padding-top: 30px;
}
/* фон затемнения */
#fade {
	display: none;/*--по умолчанию скрыто--*/
  background: rgba(165, 165, 165, 0.8);
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
/* блок модального окна */
.popup_video{
	display: none; /*--по умолчанию скрыто--*/
	background: #fff;
	padding: 10px;
	float: left;
	font-size: 85%;
	position: fixed;
	top: 50%;
  left: 50%;color: #000;
	max-width: 750px;
	min-width: 320px;
	height: auto;
	z-index: 99999;
	/*--CSS3 тень блока--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 скругление углов--*/
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close {
    background-color: rgba(61, 61, 61, 0.8);
    border: 2px solid #ccc;
    height: 25px;
    line-height: 20px;
    position: absolute;
    right: -17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;padding: 0;
    top: -17px;
    width: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 12px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}
.shadow {
    box-shadow:4px 4px 10px #857373;
    -webkit-box-shadow:4px 4px 10px #857373;
    -moz-box-shadow:4px 4px 10px #857373;
    padding:0;
}

.description_bookies a{
  text-decoration: none;
  margin: auto;
  text-align: center;
  display: block;
  color: white;
  background: red;
  padding: 10px 20px;
  width: 200px;
  border-radius: 4px;
  margin-top: 20px;
}

.form_contact_settings i span:last-child{
  font-family: 'proxima-bold';
}



.home_user_upgrade{
  max-width: 660px;
  padding: 20px 20px;
  margin: auto;
  text-align: center;
}

.home_user_upgrade p{
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
  max-width: 480px;
  margin: auto;
}

.home_user_upgrade a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  margin: auto;
  margin-bottom: 40px;
  font-size: 18px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
  font-family: 'proxima-semi-bold';
  border-radius: 4px;
  text-decoration: none;
  background-color: #ff0000;
  border: solid 1px #ff0000;
}

.home_user_upgrade span:last-child{
  font-family: 'proxima-bold';
}

.home_user_upgrade span:first-child{
  display: block;
  font-size: 24px;
  padding-bottom: 10px;
  color: red;
  font-family: 'proxima-semi-bold';
}

.popup_video_mobile{
  display: none;
  background: #fff;
  padding: 10px;
  float: left;
  font-size: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #000;
  max-width: 750px;
  min-width: 290px;
  height: auto;
  z-index: 99999;
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px
}

.alarm_button{
  font-size: 16px;
  line-height: 1.43;
  letter-spacing: -0.3px;
  text-align: center;
  color: #000000;
  padding-top: 10px;
  display: block;
  max-width: 480px;
  padding: 0 20px;
  margin: auto;
}


.alarm_button span:first-child{
  display: block;
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'proxima-semi-bold';
  color: red;
}

.alarm_button a {
  width: 140px;
  height: 40px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  margin: 20px auto;
  display: table;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  padding-top: 5px;
}

.table_info_pagination p{
  padding-top: 20px;
  width: 100px;
  margin: auto;
  font-size: 18px;
  font-family: 'proxima-semi-bold';
}
